{% load i18n %}
{% load static %}
<link rel="stylesheet" href="{% static 'base/css/site.css'%}">
<meta name="viewport" content="width=device-width, 
initial-scale=1.0">
<form method="POST" action="{% url 'account_change_password' %}" class=" form-account password_change">
    {% csrf_token %}
    <h1><i>Change Password</p></h1>
    <p>Your are in control!</p>
    {% include 'form_snippet.html' %}
    <button class="button_f" type="submit" name="action">{% trans "Change Password" %}</button>
</form>